input {
  color: black !important;
}

.form-group {
  .col-12 {
    padding-right: 0 !important;
  }
}

.form-control {
  border: 1px solid #7e7e7e !important;
}

.default-select,
.select2-selection__rendered {
  border: 1px solid #7e7e7e !important;
  border-radius: 20px !important;
  @media (min-width: 1900px) {
    line-height: 50px !important;
    min-height: 50px !important;
  }
  @media (min-width: 1680px) {
    line-height: 50px !important;
    min-height: 50px !important;
  }
}
.select2-selection {
  @media (max-width: 1680px) {
    line-height: 50px !important;
    min-height: 50px !important;
  }
  border: none !important;
  box-shadow: none !important;
}

.select2-selection__arrow {
  @media (min-width: 1900px) {
    top: 15px !important;
  }
  @media (min-width: 1680px) {
    top: 15px !important;
  }
}

.form-group {
  label {
    color: #082280 !important;
  }
}

.auth-form {
  label {
    color: white !important;
  }
  img {
    filter: brightness(0) invert(1);
  }
}

input:disabled {
  opacity: 50% !important;
  cursor: not-allowed !important;
}
.banner-horizontal {
  margin-bottom: 250px !important;
}

.select-image {
  background-position: center top;
  margin-bottom: 10px;
  border: 1px solid silver;
  cursor: pointer;

  align-items: center;
  justify-content: center;
  height: 100% !important;
  transition: 0.5s;
  span {
    padding: 5px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  &.visible {
    span {
      // opacity: 0;

      background: #0b2a97;
      color: white !important;
      font-size: 10pt;
    }
    justify-content: flex-end;
  }
}

#map {
  height: 400px;
  width: 100%;
  // z-index: 9999;
}

#geocoder-container > div {
  min-width: 50%;
  margin-left: 25%;
}

.nav-header {
  .brand-title {
    max-width: inherit;
  }
}

.is-invalid {
  .select2-selection__rendered {
    border: solid 1px red  !important;
  }
  input {
    border: solid 1px red !important;
    
  }
}

.dropzone {
  .dz-preview {
    .dz-image {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  border-radius: 5px;
  border-color: var(--blue);
  &.dz-clickable {
  }
  position: relative;

  .dz-message {
    position: absolute;
    width: 100%;
    left: 0;
    top: 20%;
  }
}


input{
  &.valid{
    border: solid 1px green !important;
  }
}